/* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* Estilos para o cabeçalho */
header {
    background-color: #2C3E50; /* Tonalidade de azul */
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Estilos para o conteúdo principal */
main {
    padding: 20px;
}

/* Estilos para as seções FAQ */
.faq h2 {
    color: #2C3E50;
}

.faq ul {
    list-style: none;
    padding: 0;
}

.faq ul li {
    margin-bottom: 10px;
}

.faq ul li h3 {
    /* Remova a cor de fundo azul e o texto branco */
    background-color: transparent;
    color: #2C3E50;
    padding: 10px;
    cursor: pointer;
    margin: 0;
}

.faq ul li .answer {
    display: none;
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
    background-color: white;
}

.faq ul li .answer p,
.faq ul li .answer ol {
    margin: 0;
    padding: 0;
}

.faq ul li .answer ol {
    list-style-position: inside;
    padding-left: 20px;
}

.faq ul li .answer ol li {
    margin-bottom: 5px;
}

/* Estilos para o rodapé */
footer {
    background-color: #2C3E50;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}
