* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;

}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(/fundo.png);
}

.banner {
  width: 100%;
  background-color: #2c3e50; 
  text-align: center;
  padding: 27px;
  color: white;
}

.banner h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.banner p {
  font-size: 16px;
}

.menu-principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #2c3e50;
  color: #fff;
}

.menu-principal button {
  background-color: transparent;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.menu-principal button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.menu-suspenso {
  position: relative;
}

.menu-suspenso button {
  margin-bottom: 0; 
}

.opcoes-escondidas {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  background-color: #2c3e50;
  padding: 10px;
  border: 1px solid #ccc;
}

.menu-suspenso:hover .opcoes-escondidas {
  display: block;
}


.fab {
  font-family: "Font Awesome 5 Free";
}


.container {
  max-width: 1200px;
  margin: 50px auto;
}

.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  height: 400px;
  margin: 0 auto;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slide.ativo {
  opacity: 1;
  z-index: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Estilos da Navegação */
.navegacao {
  margin-top: 10px;
  text-align: center;
}

.navegacao button {
  padding: 10px 20px;
  background-color: #2c3e50;
  border: none;
  cursor: pointer;
}

/* Estilos da Lista do Menu */
.menu-lista { 
  display: flex;
  align-items: center;
}

.menu-lista i {
  font-size: 24px;
  cursor: pointer;
}

.menu-lista .menu-links {
  display: none;
  position: absolute;
  top: 19%; /* Alterando para que os itens do menu fiquem abaixo do botão */
  right: 0;
  background-color: #2c3e50;
  padding: 10px;
}

.menu-lista.menu-ativo .menu-links {
  display: block;
}

.menu-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-links ul li {
  margin-bottom: 10px; 
}

.menu-links ul a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s, font-size 0.3s;
}

.menu-links ul a:hover {
  color: #fff;
  font-size: 1.1em;
  text-decoration: underline;
}


footer {
  text-align: center;
  padding: 20px;
  background-color: #2c3e50;
  color: white;
}


@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 20px;
  }

  .carousel {
    width: 100%;
    height: auto;
  }

  .carousel img {
    width: 100%;
    height: auto;
  }

  .menu-principal {
    flex-direction: column; 
    align-items: flex-start;
  }

  .menu-lista {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .menu-lista i {
    align-self: flex-end;
  }
}

.imagem-centralizada {
  display: block;
  margin: 0 auto;
  height: 250px;
  width: 400px;
  margin-bottom: 10px;
  border: 2px solid #000000;
}

.lojas { 
  text-align: center;
  margin: auto;
  padding: 15px;
  width: 20%;
  background-color: #f4f4f4;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-bottom: 10px;
}

.special-z {
  text-align: justify;
  margin: auto;
  width: 60%;
  padding: 60px;
  background-color: #f4f4f4;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-bottom: 20px;
}

.special-z button {
  display: block;
  border-radius: 5px;
  margin: auto;
  margin-top: 1em;
}

button{
  background-color: #2c3e50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.botao-classe {
  text-align: center;
  align-items: center;
}

button{
  background-color: #2c3e50;
  color: white; 
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  left: 100px;
  right: 100%;
}
