body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url(fundo.png);
  }
  
  .container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 31px;
  }
  
  p {
    font-size: 18px;
  }

  label {
    display: block;
    margin-bottom: 15px;
    font-size: 19px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  #message {
    margin-top: 20px;
    text-align: center;
  }
  
  .half-width{
    width: calc(50% - 20px);
    float: left;
    margin-right: 20px;
    box-sizing: border-box;
  }
