
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    background-image: url(fundo.png);
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 200px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    height: 100vh;
    position: fixed;
}

.menu {
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin-bottom: 10px;
    cursor: pointer;
}

.main-content {
    margin-left: 220px;
    padding: 35px;
    width: calc(100% - 220px);
}

.vendedor-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.vendedor-imagem img {
    width: 500px; 
    height: 500px; 
    margin: auto;
}

.vendedor-descricao h1 {
    margin-top: 0;
    color: #333;
}

.produtos-secao {
    margin-top: 20px;
}

.produto-item {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.produto-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.produto-item h3 {
    margin: 10px 0;
    color: #333;
}

.avaliacao {
    margin-top: 20px;
}

.avaliacao h2 {
    margin-top: 0;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}
.menu li a {
    color: white; /* Mantém a cor branca nos links */
    text-decoration: none; /* Remove sublinhado dos links */
    display: block; /* Torna o link clicável em toda a área do item */
    padding: 10px 0; /* Adiciona um pouco de espaçamento para tornar mais fácil clicar */
}
